*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-times-new-roman: "Times New Roman";
  --font-inter: Inter;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke-100: #eee;

  /* Border radiuses */
  --br-7xs: 6px;

  /* Effects */
  --drop-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);
}
